{%- if versiondata["version"] == "main" -%}
## 即将发布的版本的变化

:::{warning}
这些更改反映了当前的 [开发进展](https://github.com/python-attrs/attrs/tree/main)，并且**尚未**成为 PyPI 发布的一部分。
:::
{% else -%}
## [{{ versiondata["version"] }}](https://github.com/python-attrs/attrs/tree/{{ versiondata["version"] }}) - {{ versiondata["date"] }}
{%- endif %}

{% for section, _ in sections.items() %}
{% if sections[section] %}
{% for category, val in definitions.items() if category in sections[section] %}

### {{ definitions[category]['name'] }}

{% for text, values in sections[section][category].items() %}
- {{ text }}
  {{ values|join(',\n  ') }}
{% endfor %}

{% endfor %}
{% else %}
No significant changes.


{% endif %}

{% endfor %}
